body {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
}
section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  margin-bottom: 8rem;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
header {
  background-color: rgb(196, 195, 195);
  padding: 3rem;
}
tr {
  border-bottom: 1px solid rgb(202, 202, 202);
}
td {
  padding: 0.7rem;
}
th {
  padding: 0.7rem;
  text-align: left;
  text-decoration: underline;
}
th:hover {
  cursor: pointer;
}
footer {
  background-color: rgb(196, 195, 195);
  padding: 1rem;
  text-align: center;
}
