body {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
}
section {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  margin-bottom: 8rem;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
header {
  background-color: rgb(196, 195, 195);
  padding: 3rem;
}
tr {
  border-bottom: 1px solid rgb(202, 202, 202);
}
td {
  padding: 0.7rem;
}
th {
  padding: 0.7rem;
  text-align: left;
  text-decoration: underline;
}
th:hover {
  cursor: pointer;
}
footer {
  background-color: rgb(196, 195, 195);
  padding: 1rem;
  text-align: center;
}
#searchtitle {
  font-weight: bold;
  font-size: 1.6rem;
}
#search {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 60px;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  section {
    width: 75%;
  }
}
@media (max-width: 600px) {
  section {
    width: 90%;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #searchtitle {
    font-size: 1.3rem;
  }
  #search {
    font-size: 1rem;
  }
  table {
    font-size: 1rem;
  }
  #tablecontainer {
    overflow-x: auto;
  }
}
